
github "Hearst-DD/ObjectMapper" ~> 3.1
github "robbiehanson/CocoaAsyncSocket" "master"
github "ashleymills/Reachability.swift"
github "ReactiveX/RxSwift" ~> 4.0
github "RxSwiftCommunity/RxSwiftExt"
github "krzysztofzablocki/Strongify"
